$base-noir-1: #222222;
$base-ecriture-fond-noir: #fefefe;


body{
    margin: 0px;

    main{
        min-height: 90vh;
        padding-top: 120px;
        height: 200vh;
        position: relative;
        z-index: 0;
        overflow: hidden;

        & > *{
            z-index: 5;
        }
    }

    h1{
        font-family: "Playfair Display", serif;
        margin: 0;
        h2{
            font-family: "Playfair Display", serif;
            margin: 0;
        }
    }
    h2, h3, h4, h5{
        font-family: "Space Grotesk", serif;
        margin: 0;
    }

    .background-wave{
        width: 100vw;
        height: 100%;
        position: absolute;
        bottom: -100vh;
        left: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        #movingObject {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        

        #wave-svg{
            width: 100%;
            height: auto;
            min-height: 55px;
            position: relative;
        }

        .background{
            background-color: #1e3a8aaa;
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: -1;
        }
    }
}