$base-noir-1-flou: #222222be;
$base-noir-1: #222222;
$base-ecriture-fond-noir: #fefefe;
$layout-breakpoint-small: 768px;



header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 2px 0;
    padding: 0.5rem;
    z-index: 1000;
    background-color: $base-noir-1-flou;
    backdrop-filter: blur(10px); // Applique un flou au fond
    -webkit-backdrop-filter: blur(10px); // Compatibilité Safari
    display: flex;
    flex-direction: row;
    justify-content: center;

    nav.horizontalNaviagationes{
        justify-content: center;
        width: 80vw;
        ul{
            width: 60vw;
            justify-content: space-around ;
        }
    }
}
