$base-noir-1: #222222;
$base-ecriture-fond-noir: #fefefe;
$layout-breakpoint-small: 768px;



header{

    position: sticky;
    top: 0;
    margin: 0 0 2px 0;
    z-index: 15;
    nav{
        background-color: $base-noir-1;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 2rem;
        height: 100px;
        justify-content: center;
        a{
            color: $base-ecriture-fond-noir;
            text-decoration: none;
            background-color: $base-noir-1;
            font-size: 22px;
            padding: 0.6rem 1rem;
            border-radius: 5px;
            font-size: 1rem;
            &:hover{
                transition: all 0.3s;
            }
            img{
                border: 1px solid $base-ecriture-fond-noir;
                border-radius: 5px;
                min-width: 50px;
            }
        } 
    }
}

@media (max-width: $layout-breakpoint-small) {
    .mn-none{
        display: none;
    }
}
