$base-noir-1: #222222;
$base-ecriture-fond-noir: #fefefe;
$layout-breakpoint-small: 768px;
$layout-breakpoint-medium: 1440px;


.project-card {
    /* Les infos flex */
    display: flex;
    flex-direction: column;
    gap: 5px;

    /* FIN des infos flex */
    width: 100%;
    max-width: 800px;
    padding: 2rem 1rem ;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.3s;


    .project-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff2d;
        border-radius: 1rem;
        height: 10rem;
        padding: 0.5rem;
        h2{
            font-size: 1.5rem;
            font-weight: bold;
            transform: translateY(-1rem);
            text-align: center;
            width: 100%;
            height: 4.5rem;
        }
        .project-logo {
            width: 5rem;
            height: 5rem;
            padding: 0.45rem;
            transform: translateY(-2rem);
            border-radius: 0.45rem;
        }
    }
    .tag-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0.5em;

        svg {
          width: 100%; // Par défaut, occupe tout l'espace disponible
          height: auto; // Ajuste proportionnellement
          max-width: 200px; // Limite la taille maximale
        }

        span {
            position: absolute;
            font-size: 1em; // Taille de base du texte
            font-weight: bold;
            text-align: center;
            user-select: none;
        }
    }
    
    @media screen and (max-width: 768px) {
        .tag-wrapper {
            svg {
                max-width: 150px; // Réduit la taille maximale du SVG pour les tablettes
            }
        
            span {
                font-size: 0.85em; // Réduit légèrement la taille du texte
            }
        }
    }
      
    @media screen and (max-width: 480px) {
        .tag-wrapper {
        svg {
            max-width: 100px; // Réduction supplémentaire pour les petits écrans
        }
    
        span {
            font-size: 0.7em; // Réduction de la taille du texte
        }
        }
    }
    
    .tags-container{
        width: 100%;
        height: 70px;
        border: 4px solid;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0 0.5rem;

        .tag-wrapper {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: auto;

            svg {
                display: block;
                width: 7.5rem;
            }
            




            span {
                position: absolute;
                color: white;
                font-size: 0.9rem;
                font-weight: bold;
                text-align: center;
                user-select: none;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            /*Les compétences DU BUT */
            &[data-skill="Réaliser"] {
                color: #BF0606; // Une autre couleur personnalisée
            }
            
            &[data-skill="Optimiser"] {
                color: #ED8C51; // Couleur personnalisée
            }
            
            &[data-skill="Administrer"] {
                color: #EFBA11; // Couleur personnalisée
            }

            &[data-skill="Gérer"] {
                color: #92BF4E; // Une autre couleur personnalisée
            }

            
            &[data-skill="Conduire"] {
                color: #0A215E; // Couleur personnalisée
            }

            &[data-skill="Collaborer"] {
                color: #0F0F0F; // Couleur personnalisée
            }

        }     
        @media (max-width: $layout-breakpoint-medium) {
            .tag-wrapper{
                svg{
                    width: 85px;
                }
                span{
                    font-size: 0.7rem;
                }
            }
        }     
    }

    .project-resume{
        margin: 0.5rem;
        font-size: 1rem;
        height: 16rem;
        align-items: center;
    }

    .project-technologies {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;

        .all-technos{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            max-width: 100%;
            width: auto;
            padding: 1vh 2vw;
            border-radius: 4px;
            
            .technology-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50px;
                height: 50px;
                padding: 3px;
                border: 2px solid;
                border-radius: 0.25rem;
            }
        }

        .all-technos .technology-icon img,
        .github-link img,
        .no-github-image{
            width: 43px;
            height: 43px;
            padding: 3px;
        }

        .github-link {
            width: 30%;
            img{
                width: 50px;
                height: 50px;
                padding: 3px;
                transition: all 0.3s;
                background-color: #00000050;
                &:hover{
                    background-color: #00000060;
                }
            }
        }

        .no-github-image{
            background-color: #ff000050;
            &:hover{
                cursor: not-allowed;
            }
        }
    }
    &:hover{
        transform: scale(1.05);
    }
}
